p, h1, h2{
    font-family: "Gill Sans", sans-serif;
}
h1{
    font-weight: bold;
    text-align: center;
}
p{
    font-weight: bold;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 50px;
}
h2{   
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    width: 37%;
    margin-top:0%;
    margin-bottom: 0%;
    min-width: 10%;
    WIDTH: 120PX;
}
.zag{
    float:right;
}
.col-md-1 h2 {
    background-color:pink;
}
.col-md-2  h2{
    color: white;
    background-color:red;
}
.col-md-3  h2{
    background-color:yellow;
}
.row {
    align-content: center;
    width: 100%;
}
.col-md-1, .col-md-2, .col-md-3 {
    background-color:gray;
    float: left;
    border: 3px solid black;
    margin: 1%;
}

@media (min-width: 993px) {
    .col-md-1, .col-md-2, .col-md-3 {
        width: 30.7%;
    }
}
@media (max-width: 768px){
    .col-md-1, .col-md-2, .col-md-3{
        margin-left: 4%;
        margin-right: 4%;
    }
} 
@media (min-width: 769px) and (max-width: 992px){
    .col-md-1, .col-md-2{
        width: 47.1%;
    }
}
