body{

    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}
h1{
    text-align: center;
}
p{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 50px;
}
h2{   
    text-align: center;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    width: 37%;
    margin-top:0%;
    margin-bottom: 0%;
    WIDTH: 120PX;
}
.pink, .yellow, .red{
    float:right;
}
.pink {
    background-color:pink;
}
.red{
    color: white;
    background-color:red;
}
.yellow{
    background-color:yellow;
}
.row {
    align-content: center;
    width: 100%;
}
@media (min-width: 993px) {
    .col-md-1, .col-md-3 {
        background-color:gray;
        float: left;
        border: 3px solid black;
        margin: 1%;
        width: 30.7%;
    }
}
@media (max-width: 768px){
    .col-md-1, .col-md-3{
        background-color:gray;
        float: left;
        border: 3px solid black;
        margin: 1%;
        margin-left: 4%;
        margin-right: 4%;
    }
} 
@media (min-width: 769px) and (max-width: 992px){
    .col-md-1{
        width: 47.1%;
    }
    .col-md-1, .col-md-3{
        background-color:gray;
        float: left;
        border: 3px solid black;
        margin: 1%;
    }
}
